/* Styles that affect the length of the document */
p code,
li code {
    font-size: 90%;
    letter-spacing: -0.5px;
    border: 1px solid #ccc;
    padding: 1px 3px;
}

.multitab-code pre {
    margin-top: 0;
    border-radius: 0 0 5px 5px;
}

.multitab-code div[data-tab] {
    display: none;
}
