<script>
    const notificationId = "javalin-3-released";
    const hasBeenDismissed = localStorage.getItem(notificationId + "-dismissed") === "true";
    const pageLoadCount = parseInt(localStorage.getItem(notificationId + "-count") || 0);
    localStorage.setItem(notificationId + "-count", (pageLoadCount + 1).toString());
    if (!hasBeenDismissed) {
        document.write(`
            <div id="notification-banner">
                Javalin 3.0 is out! <a href="/news/javalin-3.0.0-stable">See what's new</a> !
            </div>
        `);
        if (pageLoadCount > 5) {
            document.querySelector("#notification-banner").insertAdjacentHTML("beforeend", `<span class="close">✖</span>`);
            document.querySelector("#notification-banner .close").addEventListener("click", () => {
                document.querySelector("#notification-banner").style.display = "none";
                localStorage.setItem(notificationId + "-dismissed", "true");
            });
        }
    }
</script>
<style>
    #notification-banner {
        line-height: 1.5;
        position: relative;
        margin: 12px 0 20px;
        width: 100%;
        background: #008cbb;
        color: white;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
        text-align: center;
        font-family: 'Encode Sans', sans-serif;
        font-size: 18px;
        border-radius: 5px;
        padding: 10px 20px;
        border-bottom: 5px solid #035e7f;
    }

    #notification-banner a {
        color: white;
        text-decoration: underline;
    }

    #notification-banner .close {
        position: absolute;
        right: -10px;
        top: -10px;
        height: 30px;
        line-height: 30px;
        width: 30px;
        text-align: center;
        font-size: 18px;
        background: #ff6666;
        border-radius: 24px;
        font-family: arial;
        border-bottom: 2px solid #b13838;
        cursor: pointer;
        text-shadow: 0 0 0 white;
    }

    @media (max-width: 480px) {
        #notification-banner {
            font-size: 14px;
        }
    }
</style>
