<style>
    .social {
        font-family: monospace;
        font-size: 20px;
        text-align: center;
        color: #fff;
        border-radius: 5px;
        margin: 30px 0;
        display: flex;
        justify-content: space-between;
    }
    .social-btn {
        width: calc(50% - 10px);
        padding: 12px 15px 8px;
        background: #008ab4;
        border-bottom: 3px solid #005a75;
        display: inline-block;
    }
    .social-btn:hover {
        background: #0095c1;
    }
    .social-btn img {
        width: 32px;
        display: inline;
        vertical-align: middle;
    }
    a.social-btn {
        color: #fff;
    }
    .smaller-social-btns .social {
        font-size: 18px;
    }
    .smaller-social-btns .social-btn {
        font-size: 18px;
        padding: 10px 15px 8px;
    }
    .smaller-social-btns .social-btn img {
        width: 24px;
    }
</style>
<div class="social">
    <a class="social-btn" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via=javalin_io&related=javalin_io"
       rel="nofollow"
       title="Share on Twitter">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAM1BMVEUAAAD///////////////////////////////////////////////////////////////+3leKCAAAAEHRSTlMA8BDQwKCAMOBwYECwUCCQ27fl2AAAAW1JREFUWMPtltuOwyAMRLG5QxL8/1+7G6lKFApMaJ5W2/NIPCPAnlL15R+xRSM7ZPMnci5yYvxrNRt3VMRtpPdBLqR9MWkhPkpI80BPUpFy2dfiUbKK9B02kjbmrCkycNAdfeCqpuOQOnrye2teRS9LrxqEjn4tQSS/io7Fxg1Kn/MWjxX7dgw30NvGNkO9CQP1O8v7oGEDq07i9Uu+YxAvs1J91GmDBtdQLVKjYz6/YINNWujiVgsMet3CqAr7yICKn3XQF4N9gizJDAsIDMSBLkIyyDzkmjqmWb0GoYUUBVKLWFUF6yk9gccDYtU7bKabWBNv9yKoDunmTcSW2Im+uwNi1cBP5+DjUSAGrzgiVcLZSBmlHjnQBv7L4AOMYEdwiAGcFgK/A5BN9/WsMCs90nsjT/SrGd0fI3UJIIIdovtlAUnWftA5KwiKakg2Y7ljfPn9tzWkUw5GsHV059UEOVpDR2wXl1l9+RP8AHA4c7ljId3mAAAAAElFTkSuQmCC">
        Share on Twitter
    </a>
    <a class="social-btn" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}"
       rel="nofollow"
       title="Share on Facebook">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAAMFBMVEUAAAD///////////////////////////////////////////////////////////87TQQwAAAAD3RSTlMAwIDwEEDgMKBgINBwUJA4su2wAAAAy0lEQVRIx2MYJICr+T9WkOQAVTD/Pw5gDpHn/I8TXAAriMetwAqsQB63gh9gBf/xgAFT8E0QCPJxK/ixACTqj1PB5wCwKD9OBbsY8Cv4XEBAwU8GAgoECCmYABTB5QuEUI2S0n4cCn6DRBzxhORHkMh5Qgr0h7eCjw6I/BiPTcEnBgRgxKbgK5ICPkIKmGij4C+yIwn5gg2bgm9ICuIHa2SNKqCZgs9gBf2YClBTkDNuBSlgBeyYCtDKzGJcCtKhyY+lH7sCIweGwQEAY2jNUu1+zZgAAAAASUVORK5CYII=">
        Share on Facebook
    </a>
</div>
