html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 80px;
  margin-bottom: 60px;
}

header {
  z-index: 1;
  background: #fff;
  position: fixed;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid #ddd;
  border-top: 4px solid $javalin-brand-primary;
}

main {
  padding: 32px 0;
}

footer {
  font-size: 13px;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  line-height: 40px;
  text-align: center;
  background: #f5f5f5;
  border-top: 1px solid #ddd;
  padding: 0 20px;
  overflow: hidden;
  a {
    font-weight: 700;
  }
}

.width-limit {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 900px;
  margin: 0 auto;
}

nav {
  font-family: 'Encode Sans', sans-serif;
  font-weight: 500;
  height: 80px;
  position: relative;
  #logo img {
    margin: 20px 0;
    height: 40px;
  }
  ul {
    padding: 0;
    list-style: none;
    float: right;
    height: 40px;
    margin: 18px 0;
    li {
      + li {
        border-left: 1px solid #ddd;
      }
      display: inline-block;
      a {
        font-size: 18px;
        display: block;
        color: #333;
        text-decoration: none;
        padding: 0 15px;
        line-height: 32px;
        &:hover {
          color: #000;
        }
      }
      &:last-of-type a {
        padding-right: 0;
        margin-right: 0;
      }
    }
  }
}

.right-menu {
  position: fixed;
  left: 50%;
  list-style: none;
  padding: 0;
  margin-left: 450px;
  top: 120px;
  z-index: 999999;
  width: 200px;
  ul {
    margin: 0;
    list-style: none;
    padding: 0;
    li {
      margin: 1px 0;
    }
    .active > a {
      font-weight: 700;
    }
    a {
      display: inline-block;
      padding: 2px 0;
    }
    ul {
      font-size: 14px;
      padding-left: 15px;
      a {
        padding: 1px 0;
      }
    }
  }
  ul.tutorial-menu {
    font-size: 13px;
    font-family: Tahoma, arial, sans-serif;
    a {
      padding: 2px 0;
      margin: 2px 0;
    }
  }
}

@media (max-height: 850px) {
  .right-menu {
    font-size: 14px;
  }
}

@media (max-height: 750px) {
  .right-menu {
    ul a {
      margin: 0;
    }
  }
}

@media (max-height: 650px) {
  .right-menu {
    font-size: 12px;
  }
}

@media (max-width: 1200px) {
  #fork-me {
    display: none;
  }
}

@media (min-width: 701px) and (max-width: 1100px) {
  main.width-limit,
  nav.width-limit {
    max-width: 100%;
  }
  .has-right-menu {
    &.width-limit {
      padding-right: 220px;
    }
  }
  .right-menu {
    top: 80px;
    right: 0;
    left: auto;
    margin-left: 0;
    height: 100%;
    border-left: 1px solid #e0e0e0;
    background: linear-gradient(to right, #f9f9f9, white);
    padding: 40px 15px 0 15px;
    z-index: 0;
  }
}

@media (max-width: 700px) {
  .right-menu {
    display: none;
  }
}

@media (max-width: 600px) {
  a[href="/download"] {
    display: none;
  }
}

@media (max-width: 480px) {
  nav ul li a {
    font-size: 16px;
    padding: 0 8px;
  }
  footer {
    display: none;
  }
}

@media (max-width: 400px) {
  nav {
    #logo img {
      margin: 25px 0;
      height: 30px;
    }
  }
}
