.tutorial {
  #timeToRead {
    float: right;
  }
  .tutorial-header .notification {
    font-size: 14px;
    margin-bottom: 30px;
    .github-link {
      display: block;
      width: 100%;
      padding-top: 8px;
      margin-top: 8px;
      border-top: 1px solid #ddd;
    }
  }
}

@media (max-width: 600px) {
  .tutorial #timeToRead {
    white-space: nowrap;
    margin-top: 4px;
    display: inline-block;
    float: none;
  }
}
