<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta property="og:title" content="Jvm-Brotli">
    <meta property="og:site_name" content="Jvm-Brotli">
    <meta property="og:url" content="https://jvmbrotli.com">
    <meta property="og:description" content="Lightweight, cross-platform Java library for the Brotli compression format.">
    <meta property="og:image" content="https://jvmbrotli.com/img/jvm-brotli.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% if page.title %}{{ page.title }}{% endif %}
    </title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/main.css">
    <noscript><style>
        :target:before {
            content: "";
            display: block;
            height: 100px;
        }
    </style></noscript>
    <style>{% include inlineCss.css %}</style>
</head>
<body>
		<header>
			<nav class="width-limit">	
				{% if page.navlogo %}
					<a id="logo" href="/" aria-label="Jvm-Brotli">
						<img src="/img/jvm-brotli.png" alt="Jvm-Brotli">
					</a>
				{% endif %}
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/news">News</a></li>
					<li><a href="/examples">Examples</a></li>
					<li><a href="https://github.com/nixxcode/jvm-brotli">Github</a></li>
				</ul>
			</nav>
		</header>
    <main class="width-limit{% if page.rightmenu %} has-right-menu{% endif %}">
        {{ content }}
    </main>
    <footer>
		<a href="/">Home</a>
		| <a href="/contact">Contact</a>
		| <a href="/license">License</a>
    </footer>
    {% include starBegging.html %}
    <script src="/js/scripts.js"></script>
</body>
</html>
