---
layout: default
istutorial: true
---

<article class="tutorial" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="tutorial-header">
        <h1 class="no-margin-top" itemprop="name headline">{{ page.title }}</h1>
        <p class="notification">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
            {% if page.author %} 
                • Written by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
            {% endif %}
            <span id="timeToRead">Reading time: <b>0-0 min</b></span>
            {% if page.github %} 
            <br>
            <em class="github-link">
                The source code for this tutorial can be found on 
                <a href="{{page.github}}" target="_blank">GitHub</a>.
                Please fork/clone and look while you read.
            </em>
            {% endif %}
        </p>
        {% if page.notice %}
            <p class="post-notice">
                {{ page.notice }}
            </p>
        {% endif %}
    </div>
    <div class="post-content" itemprop="articleBody">
        {{ content }}
    </div>
    <h3>Thanks for reading</h3>
    If you find any errors, please <a href="{{site.repourl}}/blob/master/{{page.path}}">edit this page on GitHub</a>.
    <br>
    {% if page.github %}
        The full source code for this tutorial can also be found on <a href="{{page.github}}">GitHub</a>.
    {% endif %}
</article>
{% include socialButtons.html %}
